.details
  padding: 7rem 10px
  margin: 0 auto 2rem
  max-width: 70rem

.details-poke-img
  height: 10rem
  width: auto

.details-type-list
  list-style-type: none
  padding: o

.details-type-item
  max-width: 1rem

.details-type-img
  height: 2rem
  width: auto
