.details
  padding: 7rem 10px 0
  margin: 0 auto 2rem
  max-width: 70rem

  @media (max-width: $tablet-width)
    padding: 5rem 10px 0

.details-h2
  font-size: calc(var(--font-size) * 2.4)
  padding: 0.5rem 0
  margin: 2rem auto 0.2rem

  @media (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 2)
    margin: 1.2rem auto 0

.tag-name
  font-size: calc(var(--font-size) * 1.2)
  font-weight: 900

  @media (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 1)

.tag-value
  font-size: calc(var(--font-size) * 1.2)

  @media (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 1)

.details-list
  list-style-type: none
  padding: 0
  display: flex
  flex-wrap: wrap
  align-items: center
  margin: 0

.tag-btn
  padding: 0.5rem
  border: 1px solid #dadada
  margin: 2px
  border-radius: 3px
  font-size: calc(var(--font-size) * 1.2)
  cursor: pointer

  @media (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 1)

.details-tag
  padding: 0.5rem
  border: 1px solid #dadada
  margin: 2px
  border-radius: 3px

.details-tag-link
  text-decoration: none
  text-align: center
  min-width: 4rem

.details-poke-img
  height: 15rem
  width: auto
  margin: 2rem auto 0
  display: block

  @media (max-width: $tablet-width)
    height: 12rem
