.footer
  background: red
  padding: 1.5rem 10px
  text-align: center
  font-size: calc(var(--font-size) * 1.2)
  color: var(--main-font-color)
  background-color: var(--main-color)
  border-top: 1px solid var(--main-font-color)
  border-bottom: 1px solid var(--main-font-color)
  display: flex
  flex-direction: column

.footer-copy
  margin: 0 0 0.5rem

.footer-who
  color: var(--main-font-color)
