.nav
  background: red
  padding: 15px 0
  text-align: center
  font-size: calc(var(--font-size) * 1.2)
  background-color: var(--main-color)
  border-bottom: 1px solid var(--main-font-color)
  position: fixed
  top: 0
  width: 100%
  z-index: 2

.nav-ul
  list-style-type: none
  display: flex
  padding: 0
  align-items: center
  max-width: 70rem
  margin: 0 auto
  align-items: center
  justify-content: space-between

  @media screen and (max-width: $desktop-width)
    flex-wrap: wrap

.nav-li
  display: flex
  color: var(--main-font-color)
  font-size: calc(var(--font-size) * 3)
  align-items: center
  justify-content: center

  @media screen and (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 2)

.nav-a
  color: var(--main-font-color)

.nav-count
  position: absolute
  background-color: yellow
  border-radius: 1000px
  height: 1.6rem
  width: 1.6rem
  font-size: calc(var(--font-size) * 1)
  display: flex
  justify-content: center
  align-items: center
  font-weight: 700
  letter-spacing: -1px;
  color: #222
  border: 2px solid #222
  margin: 0
  bottom: -5%
  right: 2%
  transition: background-color 300ms linear -100ms;

  @media screen and (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 0.7)
    height: 1.2rem
    width: 1.2rem

.nav-img
  max-height: 1.2em

.nav-input-text
  border-radius: 3px
  border: 1px solid var(--main-font-color)
  width: 550px;
  height: 35px;
  font-size: calc(var(--font-size) * 1.1)
  padding: 0.3rem 0.5rem
  outline: none

  @media screen and (max-width: $desktop-width)
    width: 100%;

.nav-a
  color: var(--main-font-color)

  &:active
    text-decoration: none
  &:visited
    text-decoration: none
  &:hover
    text-decoration: none
  &:link
    text-decoration: none;

.nav-li--title
  font-size: calc(var(--font-size) * 2.5)
  font-weight: 900

  @media screen and (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 2)

.nav-li--store-icon
  @media screen and (max-width: $wide-width)
    margin-left: 10px

.nav-li--pokeball
  position: relative

  @media screen and (max-width: $wide-width)
    margin-right: 10px

.nav-li--inputs
  position: relative

  @media screen and (max-width: $desktop-width)
    padding: 0 10px
    margin-top: 1rem
    flex: 1 1 100%
    order: 2

.nav-btn-clean
  margin: 0
  background-color: var(--main-color)
  border: 2px solid var(--main-color)
  height: 2rem
  width: 2rem
  line-height: 0
  position: absolute
  top: 50%
  right: 0%
  border-radius: 1000px
  transform: translate(-50%, -50%)
  cursor: pointer
  opacity: 0
  transition: opacity 300ms ease
  pointer-events: none
  outline: none

  @media screen and (min-width: $desktop-width)
    right: -2%

.nav-btn-clean--active
  opacity: 1
  pointer-events: initial

.clean-btn-strip1,
.clean-btn-strip2,
  position: absolute
  top: 50%
  right: 38.5%
  transform: translate(-50%, -50%)
  background-color: var(--main-font-color)
  content: ""
  height: 1rem
  width: 0.2rem
  display: block

.clean-btn-strip1,
  transform: translate(-50%, -50%) rotate(45deg)

.clean-btn-strip2,
  transform: translate(-50%, -50%) rotate(-45deg)

.padding-nav
  padding-top: 5rem

.poke.padding-nav
  padding-top: 5rem

  @media screen and (max-width: $tablet-width)
    padding-top: 6.5rem

  @media screen and (min-width: 769px)
    padding-top: 9rem

  @media screen and (min-width: 1025px)
    padding-top: 5rem
