.nav
  background: red
  padding: 15px 0
  text-align: center
  font-size: calc(var(--font-size) * 1.2)
  background-color: var(--main-color)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
  border-bottom: 1px solid var(--main-color)
  position: fixed
  top: 0
  width: 100%
  z-index: 2

.nav-ul
  list-style-type: none
  display: flex
  padding: 0
  align-items: center
  max-width: 70rem
  margin: 0 auto
  align-items: center
  justify-content: space-between

  @media screen and (max-width: $desktop-width)
    flex-wrap: wrap

.nav-li
  display: flex
  color: var(--main-font-color)
  font-size: calc(var(--font-size) * 3)
  align-items: center
  justify-content: center

  @media screen and (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 2)

.nav-a
  color: var(--main-font-color)

.nav-img
  max-height: 1.2em

.nav-input-text
  width: 550px;
  height: 35px;
  font-size: calc(var(--font-size) * 1.1)
  padding: 0 0.5rem

  @media screen and (max-width: $desktop-width)
    width: 100%;

.nav-input-btn
  height: 39px;
  font-size: calc(var(--font-size) * 0.9)
  text-transform: uppercase

.nav-a
  color: var(--main-font-color)

  &:active
    text-decoration: none
  &:visited
    text-decoration: none
  &:hover
    text-decoration: none
  &:link
    text-decoration: none;

.nav-li--title
  font-size: calc(var(--font-size) * 2.5)
  font-weight: 900

  @media screen and (max-width: $tablet-width)
    font-size: calc(var(--font-size) * 2)

.nav-li--store-icon
  @media screen and (max-width: $wide-width)
    margin-left: 10px

.nav-li--pokeball
  @media screen and (max-width: $wide-width)
    margin-right: 10px

.nav-li--inputs
  @media screen and (max-width: $desktop-width)
    padding: 0 10px
    margin-top: 1rem
    flex: 1 1 100%
    order: 2

.padding-nav
  padding-top: 5rem

.poke.padding-nav
  padding-top: 5rem

  @media screen and (max-width: $desktop-width)
    padding-top: 8rem

  @media screen and (max-width: $tablet-width)
    padding-top: 7rem
