.nav
  background: red
  padding: 0.5rem
  text-align: center
  font-size: calc(var(--font-size) * 1.2)
  background-color: var(--main-color)

.nav-ul
  list-style-type: none
  display: flex
  padding: 0
  align-items: center

.nav-li
  display: flex
  color: var(--main-font-color)
  font-size: calc(var(--font-size) * 3)
  align-items: center
  justify-content: center

.nav-a
  color: var(--main-font-color)

.nav-img
  max-height: 1.2em
  margin-right: 0.2em
