.poketype
  max-width: 80rem
  margin: 0 auto 2rem

.poketype-title
  text-align: center

.poketype-list
  list-style-type: none
  padding: 0
  display: flex
  flex-wrap: wrap
  max-width: 50rem
  margin: 0 auto
  justify-content: center
  align-items: center

.poketype-link
  flex: 1 0 20%
  font-size: calc(var(--font-size) * 1.5)
  border-radius: 5px
  display: flex
  flex-wrap: wrap
  justify-content: center
  text-align: center
  margin: 0.2rem
  padding: 1rem 0.2rem
  color: var(--main-font-color)
  text-decoration: none

  @media screen and (max-width: $tablet-width)
    flex: 0 0 40%

  @media screen and (max-width: $mobile-width)
    flex: 1 0 50%

  &:hover
    text-decoration: none

.poketype-img
  max-height: 80px

.poketype-name
  flex: 1 1 100%
  margin-top: 10px
