@import "constants"
@import "poketype"
@import "poke"
@import "footer"
@import "nav"

*
  font-family: 'Lato', sans-serif

::selection
  color: var(--main-font-color)
  background: var(--main-color)

.nav,
.footer
  transition: background-color 300ms ease, color 300ms ease

.body-container
  margin: 0
  padding: 0
