:root {
  --normal: #75505B;
  --fighting: #994025;
  --flying: #49667C;
  --poison: #5E2D88;
  --ground: #A7702F;
  --rock: #48180B;
  --bug: #1C4B27;
  --ghost: #33336B;
  --steel: #61746D;
  --fire: #B01C25;
  --water: #1453E1;
  --grass: #147B3E;
  --electric: #E1E328;
  --psychic: #A42A6C;
  --ice: #86D1F3;
  --dragon: #468A99;
  --dark: #040706;
  --fairy: #971844;
  --unknown: rebeccapurple;
  --shadow: #705898;
  --true: green;
  --false: red;
  --true-f: white;
  --false-f: white;
  --normal-f: white;
  --fighting-f: white;
  --flying-f: white;
  --poison-f: white;
  --ground-f: white;
  --rock-f: white;
  --bug-f: white;
  --ghost-f: white;
  --steel-f: white;
  --fire-f: white;
  --water-f: white;
  --grass-f: white;
  --electric-f: #222;
  --psychic-f: white;
  --ice-f: #222;
  --dragon-f: white;
  --dark-f: white;
  --fairy-f: white;
  --unknown-f: white;
  --shadow-f: white;
  --border-color: gray;
  --font-size: 1rem;
  --main-font-color: white; }

[data-theme='index'],
[data-theme='details'],
[data-theme='cart'],
[data-theme='about'] {
  --main-color: #F4F4F4;
  --main-font-color: #222; }

[data-theme='normal'] {
  --main-color: var(--normal); }

[data-theme='fighting'] {
  --main-color: var(--fighting); }

[data-theme='flying'] {
  --main-color: var(--flying); }

[data-theme='poison'] {
  --main-color: var(--poison); }

[data-theme='ground'] {
  --main-color: var(--ground); }

[data-theme='rock'] {
  --main-color: var(--rock); }

[data-theme='bug'] {
  --main-color: var(--bug); }

[data-theme='ghost'] {
  --main-color: var(--ghost); }

[data-theme='steel'] {
  --main-color: var(--steel); }

[data-theme='fire'] {
  --main-color: var(--fire); }

[data-theme='water'] {
  --main-color: var(--water); }

[data-theme='grass'] {
  --main-color: var(--grass); }

[data-theme='electric'] {
  --main-color: var(--electric);
  --main-font-color: #222; }

[data-theme='psychic'] {
  --main-color: var(--psychic); }

[data-theme='ice'] {
  --main-color: var(--ice);
  --main-font-color: #222; }

[data-theme='dragon'] {
  --main-color: var(--dragon); }

[data-theme='dark'] {
  --main-color: var(--dark); }

[data-theme='fairy'] {
  --main-color: var(--fairy); }

[data-theme='unknown'] {
  --main-color: var(--unknown); }

[data-theme='shadow'] {
  --main-color: var(--shadow); }

.nav {
  background: red;
  padding: 15px 0;
  text-align: center;
  font-size: calc(var(--font-size) * 1.2);
  background-color: var(--main-color);
  border-bottom: 1px solid var(--main-font-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.nav-ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .nav-ul {
      flex-wrap: wrap; } }

.nav-li {
  display: flex;
  color: var(--main-font-color);
  font-size: calc(var(--font-size) * 3);
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .nav-li {
      font-size: calc(var(--font-size) * 2); } }

.nav-a {
  color: var(--main-font-color); }

.nav-count {
  position: absolute;
  background-color: yellow;
  border-radius: 1000px;
  height: 1.6rem;
  width: 1.6rem;
  font-size: calc(var(--font-size) * 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: -1px;
  color: #222;
  border: 2px solid #222;
  margin: 0;
  bottom: -5%;
  right: 2%;
  transition: background-color 300ms linear -100ms; }
  @media screen and (max-width: 768px) {
    .nav-count {
      font-size: calc(var(--font-size) * 0.7);
      height: 1.2rem;
      width: 1.2rem; } }

.nav-img {
  max-height: 1.2em; }

.nav-input-text {
  border-radius: 3px;
  border: 1px solid var(--main-font-color);
  width: 550px;
  height: 35px;
  font-size: calc(var(--font-size) * 1.1);
  padding: 0.3rem 0.5rem;
  outline: none; }
  @media screen and (max-width: 1024px) {
    .nav-input-text {
      width: 100%; } }

.nav-a {
  color: var(--main-font-color); }
  .nav-a:active {
    text-decoration: none; }
  .nav-a:visited {
    text-decoration: none; }
  .nav-a:hover {
    text-decoration: none; }
  .nav-a:link {
    text-decoration: none; }

.nav-li--title {
  font-size: calc(var(--font-size) * 2.5);
  font-weight: 900; }
  @media screen and (max-width: 768px) {
    .nav-li--title {
      font-size: calc(var(--font-size) * 2); } }

@media screen and (max-width: 1200px) {
  .nav-li--store-icon {
    margin-left: 10px; } }

.nav-li--pokeball {
  position: relative; }
  @media screen and (max-width: 1200px) {
    .nav-li--pokeball {
      margin-right: 10px; } }

.nav-li--inputs {
  position: relative; }
  @media screen and (max-width: 1024px) {
    .nav-li--inputs {
      padding: 0 10px;
      margin-top: 1rem;
      flex: 1 1 100%;
      order: 2; } }

.nav-btn-clean {
  margin: 0;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  height: 2rem;
  width: 2rem;
  line-height: 0;
  position: absolute;
  top: 50%;
  right: 0%;
  border-radius: 1000px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease;
  pointer-events: none;
  outline: none; }
  @media screen and (min-width: 1024px) {
    .nav-btn-clean {
      right: -2%; } }

.nav-btn-clean--active {
  opacity: 1;
  pointer-events: initial; }

.clean-btn-strip1,
.clean-btn-strip2 {
  position: absolute;
  top: 50%;
  right: 38.5%;
  transform: translate(-50%, -50%);
  background-color: var(--main-font-color);
  content: "";
  height: 1rem;
  width: 0.2rem;
  display: block; }

.clean-btn-strip1 {
  transform: translate(-50%, -50%) rotate(45deg); }

.clean-btn-strip2 {
  transform: translate(-50%, -50%) rotate(-45deg); }

.poketype.padding-nav {
  padding-top: 8rem; }
  @media screen and (max-width: 768px) {
    .poketype.padding-nav {
      padding-top: 6.5rem; } }

.poke.padding-nav {
  padding-top: 5rem; }
  @media screen and (max-width: 768px) {
    .poke.padding-nav {
      padding-top: 6.5rem; } }
  @media screen and (min-width: 769px) {
    .poke.padding-nav {
      padding-top: 9rem; } }
  @media screen and (min-width: 1025px) {
    .poke.padding-nav {
      padding-top: 5rem; } }

.poketype {
  margin: 0 auto 2rem;
  padding: 0 10px;
  max-width: 70rem; }

.poketype-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }

.poketype-link {
  flex: 0 0 22%;
  font-size: calc(var(--font-size) * 1.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 1rem 0.2rem;
  color: var(--main-font-color);
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .poketype-link {
      flex: 0 0 40%; } }
  @media screen and (max-width: 480px) {
    .poketype-link {
      flex: 1 0 40%; }
      .poketype-link:nth-of-type(1n) {
        margin: 0.3rem 0.3rem 0.3rem 0; }
      .poketype-link:nth-of-type(2n) {
        margin: 0.3rem 0 0.3rem 0.3rem; } }
  .poketype-link:hover {
    text-decoration: none; }

.poketype-img {
  max-height: 100px; }
  @media screen and (max-width: 480px) {
    .poketype-img {
      max-height: 70px; } }

.poketype-name {
  flex: 1 1 100%;
  margin-top: 10px;
  text-transform: capitalize; }

.poke {
  margin: 1rem auto; }

.poke-nav-wrapper {
  border-bottom: 1px solid #dadada;
  background: #fafafa;
  width: 100%; }

.poke-nav {
  padding: 1rem 10px;
  display: flex;
  align-items: baseline;
  max-width: 70rem;
  margin: 0 auto;
  justify-content: space-between; }

.poke-nav--store {
  padding: 1rem 10px 0.3rem; }
  @media screen and (max-width: 768px) {
    .poke-nav--store {
      padding: 2rem 10px 0.3rem; } }

.poke-nav--sort {
  padding: 0.3rem 10px 0.6rem; }

.poke-select {
  font-weight: 900;
  font-size: calc(var(--font-size) * 1.7);
  margin: 0 0.5rem;
  border-radius: 3px;
  border: 2px solid #dadada;
  color: #222;
  background-color: white;
  padding: 0.5rem; }
  .poke-nav--sort .poke-select {
    font-size: calc(var(--font-size) * 1.2);
    font-weight: 500;
    padding: 0.3rem; }
    @media screen and (max-width: 480px) {
      .poke-nav--sort .poke-select {
        font-size: calc(var(--font-size) * 0.9); } }
  @media screen and (max-width: 480px) {
    .poke-select {
      font-size: calc(var(--font-size) * 1.2);
      margin: 0 0.3rem;
      padding: 0.3rem; } }

.poke-option {
  font-size: calc(var(--font-size) * 1); }

.poke-title {
  font-weight: 900;
  color: #222;
  font-size: calc(var(--font-size) * 1.9); }
  .poke-nav--sort .poke-title {
    font-size: calc(var(--font-size) * 1.2);
    font-weight: 500; }
    @media screen and (max-width: 480px) {
      .poke-nav--sort .poke-title {
        font-size: calc(var(--font-size) * 0.9); } }
  @media screen and (max-width: 480px) {
    .poke-title {
      font-size: calc(var(--font-size) * 1.2); } }

.poke-count {
  font-weight: 400;
  font-size: calc(var(--font-size) * 1);
  color: #858585; }
  @media screen and (max-width: 480px) {
    .poke-count {
      font-size: calc(var(--font-size) * 0.9); } }

.poke-total-price {
  background: #737373;
  color: white;
  padding: 0.5rem;
  border-radius: 3px; }

@media screen and (max-width: 560px) {
  .poke-results {
    display: none; } }

.poke-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  align-items: flex-end;
  max-width: 70rem;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .poke-list {
      justify-content: space-between;
      padding: 0 10px; } }

.poke-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 14%;
  font-size: calc(var(--font-size) * 1.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0.2rem 0.2rem;
  margin: 10px;
  color: var(--main-font-color);
  text-decoration: none;
  transition: transform 300ms ease; }
  @media screen and (max-width: 70rem) {
    .poke-item {
      flex: 0 0 22vw;
      margin: 1vw; } }
  @media screen and (max-width: 832px) {
    .poke-item {
      flex: 0 0 30vw;
      margin: 1vw; } }
  @media screen and (max-width: 625px) {
    .poke-item {
      flex: 0 0 44vw;
      margin: 2vw; } }
  @media screen and (max-width: 480px) {
    .poke-item {
      flex: 0 0 45%; }
      .poke-item:nth-of-type(1n) {
        margin: 0.3rem 0.3rem 0.3rem 0; }
      .poke-item:nth-of-type(2n) {
        margin: 0.3rem 0 0.3rem 0.3rem; } }

.poke-img {
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.poke-info {
  margin: 0.5rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.poke-name {
  color: #222;
  font-size: calc(var(--font-size) * 1);
  text-transform: capitalize;
  font-weight: bold; }
  @media screen and (max-width: 480px) {
    .poke-name {
      font-size: calc(var(--font-size) * 0.9); } }

.poke-price {
  color: white;
  font-size: calc(var(--font-size) * 0.95);
  text-transform: capitalize;
  background: #737373;
  padding: 2px 5px;
  border-radius: 3px; }
  @media screen and (max-width: 480px) {
    .poke-price {
      font-size: calc(var(--font-size) * 0.9); } }

.poke-discount {
  position: absolute;
  color: white;
  font-size: calc(var(--font-size) * 0.95);
  text-transform: capitalize;
  background: #FF7F00;
  padding: 2px 5px;
  border-radius: 3px;
  top: 2rem;
  right: 0; }
  @media screen and (max-width: 480px) {
    .poke-discount {
      font-size: calc(var(--font-size) * 0.9); } }

.poke-in-cart {
  position: absolute;
  top: 2rem;
  left: 0;
  height: 13%; }

.poke-buy {
  font-size: calc(var(--font-size) * 1.6);
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 900;
  opacity: 0;
  transition: opacity 300ms ease, background-color 300ms linear -100ms;
  pointer-events: none; }
  .poke-buy--active {
    opacity: 1;
    pointer-events: initial; }
  @media screen and (max-width: 480px) {
    .poke-buy {
      font-size: calc(var(--font-size) * 1.1); } }

[data-stage="buy"] {
  color: #222;
  background-color: yellow;
  border: 2px solid #222; }

[data-stage="thanks"] {
  color: white;
  background-color: green;
  border: 2px solid #222;
  pointer-events: none; }

[data-stage="shipping"] {
  color: white;
  background-color: blue;
  border: 2px solid #222;
  pointer-events: none; }

[data-stage="done"] {
  color: white;
  background-color: black;
  border: 2px solid #222;
  pointer-events: none; }

.poke-add {
  background-color: var(--main-color);
  color: var(--main-font-color);
  border: 2px solid var(--main-color);
  font-size: calc(var(--font-size) * 0.8);
  text-transform: uppercase;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 3px; }
  @media screen and (max-width: 480px) {
    .poke-add {
      font-size: calc(var(--font-size) * 0.8); } }

.poke-add--in-cart {
  color: white;
  background-color: #FE0505;
  border: 2px solid black; }

.poke-no-results {
  color: #222;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  font-size: calc(var(--font-size) * 5);
  font-weight: 900;
  margin: 2rem auto; }
  @media screen and (max-width: 480px) {
    .poke-no-results {
      font-size: calc(var(--font-size) * 3); } }

.details {
  padding: 7rem 10px 0;
  margin: 0 auto 2rem;
  max-width: 70rem; }
  @media (max-width: 768px) {
    .details {
      padding: 5rem 10px 0; } }

.details-h2 {
  font-size: calc(var(--font-size) * 2.4);
  padding: 0.5rem 0;
  margin: 2rem auto 0.2rem; }
  @media (max-width: 768px) {
    .details-h2 {
      font-size: calc(var(--font-size) * 2);
      margin: 1.2rem auto 0; } }

.tag-name {
  font-size: calc(var(--font-size) * 1.2);
  font-weight: 900; }
  @media (max-width: 768px) {
    .tag-name {
      font-size: calc(var(--font-size) * 1); } }

.tag-value {
  font-size: calc(var(--font-size) * 1.2); }
  @media (max-width: 768px) {
    .tag-value {
      font-size: calc(var(--font-size) * 1); } }

.details-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0; }

.tag-btn {
  padding: 0.5rem;
  border: 1px solid #dadada;
  margin: 2px;
  border-radius: 3px;
  font-size: calc(var(--font-size) * 1.2); }
  @media (max-width: 768px) {
    .tag-btn {
      font-size: calc(var(--font-size) * 1); } }

.details-tag {
  padding: 0.5rem;
  border: 1px solid #dadada;
  margin: 2px;
  border-radius: 3px; }

.details-tag-link {
  text-decoration: none;
  text-align: center;
  min-width: 4rem; }

.details-poke-img {
  height: 15rem;
  width: auto;
  margin: 2rem auto 0;
  display: block; }
  @media (max-width: 768px) {
    .details-poke-img {
      height: 12rem; } }

.footer {
  background: red;
  padding: 1.5rem 10px;
  text-align: center;
  font-size: calc(var(--font-size) * 1.2);
  color: var(--main-font-color);
  background-color: var(--main-color);
  border-top: 1px solid var(--main-font-color);
  border-bottom: 1px solid var(--main-font-color);
  display: flex;
  flex-direction: column; }

.footer-copy {
  margin: 0 0 0.5rem; }

.footer-who {
  color: var(--main-font-color); }

* {
  font-family: 'Lato', sans-serif; }

::selection {
  color: var(--main-font-color);
  background: var(--main-color); }

.nav,
.footer {
  transition: background-color 300ms ease, color 300ms ease; }

.main {
  position: relative;
  overflow: hidden; }

.body-container {
  margin: 0;
  padding: 0; }
